body {background-color: gray;}

/* classes: */
.white-text
{
    color:white;
}

.monospace
{
 font-family: monospace;
}

.lobster
{
 font-family: Lobster;
}

/* changes to whole text elements */
h1{
    font-size:60px;
    text-align:center;
}

/*  variables for the bar at the top:   */
:root{
    --bar-width: 20%;
    --bar-border-style: solid;
--bar-bg-color: silver;
--bar-text-alignment: center;
}
